{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<h1>Order a meal</h1>
<p>Select a meal, the number of people eating the meal, and any dietary restrictions below.</p>
<p>This is a demonstration of using HTMX to provide dynamic form validation in Django.
  <a href="https://www.sharperinfo.com/post/htmx-django-bringing-the-new-school-to-the-old-school">Read our blog post for more information.</a></p>

<form method="post" id="order-meal-form"
    hx-trigger="change"
    hx-post="{% url 'order-meal' %}"
    hx-select="form"
    hx-swap="outerHTML">
  {% csrf_token %}
  {{ form|crispy }}
  <button data-cy-order-button>Order meal</button>
</form>

{% endblock %}
